
.fondito.index{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        padding-top: 2.5%;
        padding-bottom: 1.5%;
        font-family: $fuenteprincipal;
        font-size: 60px;
    }
   .video{
    display: flex;
    justify-content: center;

    } 
    .info{
        width: 1280px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 4%;
        flex-wrap: wrap;
        font-family: $fuenteprincipal;
        .data{
            background-color: white;  
            padding: 2%;
            border: solid 0.5px black;
            width: 30%;
            font-size: 17px;

        }
    }
}
