.header{
    display: flex;
    flex-direction: row;
    background-color: #C51B1B;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    .logo{
        width: 4%;
        img{
            width: 100%;
        }
    }
    .options{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        justify-content: space-around;
        margin-left: 60%;
        width: 12%;
        .option{
            background-color: #9D1515;
            padding: 3%;
            border-radius: 10px;
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
            font-size: 20px;
            cursor: pointer;
        }
    }
    .user{
        align-self: center;
        color: white;
        padding-right: 1.5%;
        font-size: 40px;
    }
}