.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  .search-wrapper {
    display: flex;
  }
  
  .search-input {
    width: 200px;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    font-size: 14px;
    padding: 8px;
  }
  
  .search-button {
    background-color: #f2f2f2;
    color: #666;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: darken(#f2f2f2, 10%);
  }

.filters{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .all-filters{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 60%;
        justify-content: space-around;
        .all-options{
            width: 30%;
            text-align: center;

            h1{
              padding-bottom: 2%;
            }
            .filter-options{
                display: flex;
                flex-direction: row;
                
                .filter-option{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    h1{
                    }
                    .dc{
                      filter: grayscale(100%);
                    }
                    .marvel{
                        width: 100%;
                    }
                    
                    img{
                      width: 70%;
                      padding-bottom:5%;
                      filter: grayscale(100%);
                      transition: filter 0.3s ease-in-out;
                      &:hover {
                        filter: none;
                      }
                    }
                }
            }

        }
    }
}
.all-characters{
  display: flex;
  justify-content: center;
  padding-top: 5%;
  .characters{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
    .character{
      display: flex;
      flex-direction: column;
      background-image: url("/src/assests/images/marvel-fondo.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: calc(25% - (10% / 3));
      justify-content: center;
      align-items: center;
      margin-bottom: 4%;
      img{
        height: 380px;
        padding: 3%;
        
      }
      h1{
        color: white;
        padding-bottom: 5%;
      }
      &:hover{
        cursor: pointer;
      }
    }
    .character.dc{
      background-image: url("/src/assests/images/dc-fondo.jpg");
    }
  }
}
