@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Roboto+Condensed&display=swap');
@import 'base/reset';
@import 'utilities/variables';
@import 'layout/header';
@import 'layout/debate';
@import 'layout/heroes';
@import 'layout/contact';
@import 'layout/footer';
@import 'layout/heroe';
@import 'layout/register';
@import 'layout/profile'